Repository Opentrons/Protocols, pull requests merged in 2018-08, with the labels that each got.

#246 protocol for farmlab, closes #237
  protocols/FarmLab/README.md
  protocols/FarmLab/farmlab_20180730.ot2.py
Labels: BLOCKED, protocol-delivery

#215 publish clear gene protocol
  protocols/Clear_Gene/README.md
  protocols/Clear_Gene/pcr-qpcr_clear-gene.ot2.py
Labels: Sent to Customer, protocol-delivery

#216 CNRS protocol + readme
  protocols/CNRS/README.md
  protocols/CNRS/Spotting-Plates_CNRS.ot2.py
Labels: BLOCKED, protocol-delivery

#220 protocol Ionut at IFIN
  protocols/IFIN/README.md
  protocols/IFIN/enzyme_activity.ot1.py
Labels: Ready to Merge, Sent to Customer, protocol-delivery

#225 protocol for emory university school of medicine
  protocols/Emory_University_School_of_Medicine/README.md
  protocols/Emory_University_School_of_Medicine/fp_ligand_competition.ot2.py
Labels: BLOCKED, protocol-delivery

#226 protocol for newport scientific
  protocols/Newport_scientific/LCMS_bioassay_part1.ot2.py
  protocols/Newport_scientific/LCMS_bioassay_part2.ot2.py
  protocols/Newport_scientific/README.md
Labels: BLOCKED, protocol-delivery

#249 ELISA Jackson Immunoresearch Labs
  protocols/ELISA_immunoresearch_lab/ELISA_jackson_immunoresearch.ot2.py
  protocols/ELISA_immunoresearch_lab/README.md
Labels: protocol-delivery

#267 university of vermont protocol 1060
  protocols/University_of_Vermont/README.md
  protocols/University_of_Vermont/protein_quantification.ot2.py
Labels: protocol-delivery

#214 emory university protocol
  protocols/Emory_University/README.md
  protocols/Emory_University/pcr_prep.ot1.py
Labels: protocol-delivery

#209 1034 drug mixing andre brown imperial college
  protocols/Imperial_College/README.md
  protocols/Imperial_College/drug_mix_transfer.ot1.py
  protocols/Imperial_College/drug_mix_transfer.ot2.py
Labels: Ready to Merge, Sent to Customer, protocol-delivery

#247 protocols for CDG Biotech Corp, closes #235
  protocols/CDG_Biotech_Corp/README.md
  protocols/CDG_Biotech_Corp/cdg_biotech_20180730.ot2.py
Labels: protocol-delivery

#277 gilbert lab protocol
  protocols/Gilbert_Lab/96_well_plate_consolidation.ot2.py
  protocols/Gilbert_Lab/README.md
Labels: Ready to Merge

#280 1041 s sample extraction from brendon dusel at conagen inc
  protocols/Conagen_inc/README.md
  protocols/Conagen_inc/sample_extraction.ot2.py
Labels: BLOCKED

#289 778-m-cell-culture-from-neha-gadhari-at-terramera-inc
  protocols/liquid_handler_part1/README.md
  protocols/liquid_handler_part1/liquid_handler_part1.ot2.py
  protocols/liquid_handler_part2/README.md
  protocols/liquid_handler_part2/liquid_handler_part2.ot2.py
  protocols/liquid_handler_part3/README.md
  protocols/liquid_handler_part3/liquid_handler_part3.ot2.py
  protocols/liquid_handler_part4/README.md
  protocols/liquid_handler_part4/liquid_handler_part4.ot2.py
Labels: Ready for Review
